[submodule "KSUN"]
    path = KernelSU-Next
    url = https://github.com/KernelSU-Next/KernelSU-Next
    branch = next
    shallow = true
[submodule "BBG"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
    shallow = true
